@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

/*GENERAL*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150vh;
}


/*NAVBAR*/
.navbar{
    height: 50px;
    display:flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    align-items: center;
}



.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/*HERO*/
.hero{
    display: flex;
    justify-content: center;
}

.container-hero{
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.hero-text{
    display:flex ;
    flex-direction: column;
    gap: 16px;
}
h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-text p{
    color: #e5e7eb;
    font-size: 18px;
}

.hero-text button{
    background-color:#3882f6;
    padding: 8px 36px;
    border: 0px;
    border-radius: 5px;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: bold;
    max-width: 136px;

}

img{
    width: 25vw;
    max-height: 250px;
    flex-shrink: 0;
}

/*IMGS*/

.imgs{
    display: flex;
    justify-content: center;
}

.footer{
    height: 50px;
}

.hero,
.imgs,
.quotation,
.call{
    flex: 1;
}

.navbar,
.hero,
.footer{
    background-color: #1f2937;
}