@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

/*GENERAL*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.navbar{
    height: 100px;
    background-color: blue;
}

.footer{
    height: 100px;
}

.hero{
    flex: 1;
}
.imgs{
    flex: 1;
}
.quotation{
    flex: 1;
}
.call{
    flex: 1;
}