@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

/*GENERAL*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150vh;
}



.navbar{
    height: 50px;
    display:flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

.footer{
    height: 50px;
}

.hero,
.imgs,
.quotation,
.call{
    flex: 1;
}

.navbar,
.hero,
.footer{
    background-color: #1f2937;
}